<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>        
    <link th:href="@{/css/materialize.css}" rel="stylesheet" />
</head>

<body>    
    <div th:if="${users != null and !users.empty}" class="container">
        <table class="striped centered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>E-mail</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div th:unless="${users != null and !users.empty}" class="container">
    	<p>No se ha obtenido información de usuarios registrados</p>
    </div>
    
    <script type="text/javascript" src="js/materialize.js"></script>
</body>

</html>